/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    height: 300px;
  }
  body{
      background: lightblue;
  }
  
  h1, h2{
    text-align: center;
  }
  button,input{
    display: flex;
    justify-content: center;
    margin-left: 45%;
    
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  